<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.coljac.tiratnavandana">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="Tiratnavandana"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tiratnavandana">

        <service
            android:name=".service.PlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
